body{
    padding-top: 80px;
}
header{
    height: 80px;
    background: linear-gradient(90deg, rgba(253,247,235,1) 0%, rgba(247,210,136,1) 50%, rgba(253,247,235,1) 100%);
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}


.contenderorCabecera{
    height: 600px;
    background-color:#ffebc3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.contenderorCabecera img{
    height: 600px;
    width: 100vw;
    object-fit: cover;
    z-index: 2;
    opacity: .7;
    position: absolute;
}    
.contenderorCabecera  h1{
    max-width: 70vw;
    text-align: center;
    color: #000;
    z-index: 3;
}
.videoSection{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(238, 159, 238);
}
.videoSection video{
    position: absolute;
    width: 100vw;
    height: 700px;
    object-fit: cover;
    opacity: .7;
    z-index: 2;
}
.videoSection h2{
    max-width: 70vw;
    font-size: 2.7em;
    text-align: center;
    color: #000;
    z-index: 3;
}



.ContenedorLogoHeader{
    align-self: center;
}
.ContenedorLogoHeader a{
    width: 20px;
    height: 20px;
    margin: 0 20px;
    color: #666;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.ContenedorLogoHeader a:hover{
    color: #000;
}
.ContenedorButton{
    align-self:center ;
}
.ContenedorButton button{
    width: 150px;
    height: 35px;
    border-radius: 7px;
    background-color:#ffcb33;
    font-size: 18px;
    border: none;
    transition: box-shadow .5s;
    color: #333;
    cursor: pointer;
}
.ContenedorButton button:hover{
    box-shadow:0px 0px 20px #e1cda1;
    background-color:#ffcb33;
    color: #000;
}



[section3]{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}
[section3] div{
    background-color: #fdf7eb;
    width: 400px;
    height: 500px;
    margin: 30px;
    border-radius: 10px;        
    transition: box-shadow .5s;
    padding: 15px 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
[section3] div:hover{
    box-shadow: #ddd 0 0 30px;
}
[section3] h2{
    text-align: center;
    line-height: 100px;
    font-size: 3em;
    align-self: flex-start;
    width: 100%;
}
[section3] div img{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
[section3] div h3{
    padding-top: 3px;
    padding-bottom: 4px;
    margin-bottom: 10px; 
}
[section3] div p {
    padding-left: 25px;
    padding-right: 25px;
}



.ContenedorOpciones{
    width: 100vw;
    display: flex;
    flex-wrap:wrap;
    background-color: #fdf7eb;
    justify-content: center;
    padding: 100px;
}
.ContenedorOpciones div { 
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 1s, background-color 1s;
    transition-timing-function:all ease;
}
.ContenedorOpciones div:hover{
    box-shadow: #ddd 0 0 30px;
    background-color: #fff;
}
.ContenedorOpciones div h3{
    padding-bottom: 20px;
    color: #aaa;
}
.ContenedorOpciones div i{
    font-size: 200px;
    color: #aaa;      
}


#PlatziEscucharEventos{
    width: 350px;
    height: 150px;
    background-color: #c66;
    margin: 30px auto;
    padding: 20px;
}
#PlatziEscucharEventos .tittle{
    font-size: 20px;
    margin-bottom: 20px;
}
#result{
    width: 250px;
    height: 15px;
    background-color: #ddd;
    margin: 7px;
}

.form {
    width: 350px;
    height: 150px;
    background-color: #4b5;
    margin: 30px auto;
    padding: 20px;
}
.form .formTittle{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.formDiscount{
    text-align: center;
    width: 350px;
    height: 300px;
    background-color: #4960c9;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.formDiscount h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.formDiscount div input{
    width: 100%;
    margin-top: 5px;    
}
.formDiscount div label{
    color: #fff;
}
.formDiscount button{
    border-radius: 10px;
    width: 50%;
    align-self: center;
    background-color: #35e0e0;
    border: none;
}
.formDiscount p{
    background-color: rgb(173, 229, 247);
    height: 50px;
    text-align: center;
    border-radius: 10px;
}

#formCuponDescuento{
    width: 250px;
    height: 300px;
    background: radial-gradient(#6817ae,#000);
    display: flex;
    margin: 30px auto; 
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    align-items: center;
    padding: 20px 10px;
}

#formCuponDescuento div{
    text-align: center;
}
#formCuponDescuento label{
    color: #fff;    
}
#formCuponDescuento input{
    margin-top: 4px;
}
#formCuponDescuento p{
    background-color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
#formCuponDescuento .formDescuentoT{
    color: #fff;
    font-weight: bold;
}
#formCuponDescuento button{
    cursor: pointer;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
}
#calculosMatematicos{
    width: 350px;
    height: 400px;
    background-color: #a9efef;
    display: flex;
    margin:50px auto;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
#calculosMatematicos h3{
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    height: 40px;
    text-align: center;
}
#calculosMatematicos .spaceInputNum{
    text-align: center;
    height: 70px;
}
#calculosMatematicos .spaceInputNum label{
    font-weight: bold;
    font-size: large;
}
#calculosMatematicos .spaceInputNum input{
    height: 30px;
    width: 60%;
    border-radius: 10px;
    border: none;
}
#calculosMatematicos .spaceInputNum button{
    width: 15%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #23c3d8;
    color: #fff;
    font-weight: bold;
    font-size: large;
    margin-top:5px;
    cursor: pointer;
    transition: all .6s;
}
#calculosMatematicos .spaceInputNum button:hover{
    background-color: #cece29;
}
#calculosMatematicos .spaceInputNum button:active{
    width: 10%;
    height:34px;
}
#calculosMatematicos .spaceSalida{
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#calculosMatematicos .spaceSalida h4{
    text-align: center;
}
#calculosMatematicos .spaceSalida div{
    height: 23%;
}
#calculosMatematicos .spaceSalida div p{
   
    height: 25px;
    border-radius: 7px;
}

@media only screen and (max-width: 700px) {
    .contenderorCabecera h1{
        font-size: 1em;
    }
    .videoSection h2{
        font-size: 1em;
    }
    header{
        display: none;
    }
    body{
        padding: 0;
    }

}
